.footer{
    height: 60px;
    margin-top: 0px;
    color: rgb(173, 177, 175);
    background-color: rgb(87, 21, 5);
    display: flex;
    justify-content: center;
    font-size: 18px;
}
li{
    display: flex;
    justify-content: space-between;
}
#github{
    margin-right: 20px;
}
#facebook{
    margin-right: 20px;
}